@using Core.Infrastructure.NotificationService
@inject INotificationService NotificationService
@{
    var notes = NotificationService.GetNotifies();
    if (notes != null && notes.Any())
    {
        foreach (var note in notes)
        {
            var cssClass = "";
            var iconClass = "";
            switch (note.Type)
            {
                case NotifyType.Success:
                    cssClass = "alert-success";
                    iconClass = "flaticon2-checkmark";
                    break;
                case NotifyType.Error:
                    cssClass = "alert-danger";
                    iconClass = "flaticon2-cancel";
                    break;
                case NotifyType.Warning:
                    cssClass = "alert-warning";
                    iconClass = "flaticon-warning";
                    break;
            }
            <div class="container">
                <div class="alert alert-custom alert-primary @cssClass fade show" role="alert">
                    <div class="alert-icon"><i class="@iconClass"></i></div>
                    <div class="alert-text">
                        @if (note.Encode)
                        {
                            <text>
                                @note.Message
                            </text>
                        }
                        else
                        {
                            <text>
                                @Html.Raw(note.Message)
                            </text>
                        }
                    </div>
                    <div class="alert-close">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="ki ki-close"></i></span>
                        </button>
                    </div>
                </div>
            </div>
        }
    }
}
