@model UpdateNavigationMenuViewModel
@{
    ViewData["Title"] = "Menü Güncelle";
}


<div class="d-flex flex-column-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="card card-custom gutter-b example example-compact">
                    <div class="card-header">
                        <h3 class="card-title">Menü Güncelle</h3>
                    </div>
                    <form class="form" asp-action="UpdateMenu" method="post" role="form">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="card-body">
                            <input hidden asp-for="Id" />
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input asp-for="Name" class="form-control form-control-solid" placeholder="Menü Adı">
                                <span class="form-text text-danger" asp-validation-for="Name"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ParentMenuId"></label>
                                <select asp-for="ParentMenuId" class="form-control form-control-solid" asp-items="@(new SelectList(Model.NavigationMenus, "Id", "Name"))">
                                    <option disabled value="" selected="selected">Lütfen bir seçim yapınız</option>
                                </select>
                                <span class="form-text text-danger" asp-validation-for="ParentMenuId"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ControllerName"></label>
                                <input asp-for="ControllerName" class="form-control form-control-solid" placeholder="Controller Adı">
                                <span class="form-text text-danger" asp-validation-for="ControllerName"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ActionName"></label>
                                <input asp-for="ActionName" class="form-control form-control-solid" placeholder="Metod Adı">
                                <span class="form-text text-danger" asp-validation-for="ActionName"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Area"></label>
                                <input asp-for="Area" class="form-control form-control-solid" placeholder="Area">
                                <span class="form-text text-danger" asp-validation-for="Area"></span>
                            </div>

                            <div class="form-group">
                                <label class="checkbox mb-0" asp-for="IsExternal">
                                    <input asp-for="IsExternal" />
                                    <span></span>
                                </label>
                                <span class="form-text text-danger" asp-validation-for="IsExternal"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ExternalUrl"></label>
                                <input asp-for="ExternalUrl" class="form-control form-control-solid" placeholder="Dış Link">
                                <span class="form-text text-danger" asp-validation-for="ExternalUrl"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DisplayOrder"></label>
                                <input asp-for="DisplayOrder" class="form-control form-control-solid" placeholder="Sıralama">
                                <span class="form-text text-danger" asp-validation-for="DisplayOrder"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Visible"></label>
                                <span class="switch switch-outline switch-icon switch-success">
                                    <label>
                                        <input asp-for="Visible">
                                        <span></span>
                                    </label>
                                </span>
                                <span class="form-text text-danger" asp-validation-for="Visible"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                            <a asp-action="List" class="btn btn-secondary">Geri</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>