            
<div class="aside aside-left d-flex flex-column" id="kt_aside">
    
    <div class="aside-brand d-flex flex-column align-items-center flex-column-auto pt-5 pt-lg-18 pb-10">
        
        <div class="btn p-0 symbol symbol-60 symbol-light-primary" href="index.html" id="kt_quick_user_toggle">
            <div class="symbol-label">
                <img alt="Logo" src="https://preview.keenthemes.com/metronic/theme/html/demo6/dist/assets/media/svg/avatars/001-boy.svg" class="h-75 align-self-end" />
            </div>
        </div>
        
    </div>
</div>
