@model ResetPasswordConfirmViewModel
@{
    ViewData["Title"] = "Şifre Sıfırlama";
}

<div class="login-form login-forgot pt-11">
    <form asp-action="ResetPasswordConfirm" method="post" class="form" role="form">
        <input hidden asp-for="UserId" />
        <input hidden asp-for="Token" />
        <div class="text-center pb-8">
            <h2 class="font-weight-bolder text-dark font-size-h2 font-size-h1-lg">Yeni Şifre oluştur</h2>
            <p class="text-muted font-weight-bold font-size-h4">Yeni şifre oluşturmak için aşağıdaki alanları doldurunuz. </p>
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        <div class="form-group">
            <input asp-for="NewPassword" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" placeholder="Yeni Şifre" autocomplete="off" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="NewPasswordConfirm" class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6" placeholder="Yeni Şifre Onay" autocomplete="off" />
            <span asp-validation-for="NewPasswordConfirm" class="text-danger"></span>
        </div>
        <div class="form-group d-flex flex-wrap flex-center pb-lg-0 pb-3">
            <button type="submit" class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mx-4">Sıfırla</button>
            <a asp-action="Login" class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mx-4">Giriş Yap</a>
        </div>
    </form>
</div>