@{
    ViewData["Title"] = "Kullanıcılar";
}

<div class="row mt-0 mt-lg-8">
    <div class="col-xl-12">
        <div class="card card-custom card-stretch card-shadowless gutter-b">
            <div class="card-header border-0 py-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label font-weight-bolder text-dark">Kullanıcılar</span>
                </h3>
            </div>
            <div class="card-body py-0">
                @(Html.DevExtreme().DataGrid<User>()
                    .DataSource(ds => ds.Mvc()
                        .Controller("UsersApi")
                        .LoadAction("Get")
                        .InsertAction("Post")
                        .UpdateAction("Put")
                        .DeleteAction("Delete")
                        .Key("Id")
                    )
                    .AdvancedGridOptions()
                    .RemoteOperations(true)
                    .Columns(columns =>
                    {
                        columns.AddFor(m => m.ProfilFoto)
                            .Width(100)
                            .AllowFiltering(false)
                            .AllowSorting(false)
                            .CellTemplate(@<text>
                                              <div>
                                                  <img src="<%- value %>" alt="" width="50" height="50"/>
                                              </div>
                                           </text>);

                        columns.AddFor(m => m.UserName);

                        columns.AddFor(m => m.FirstName);

                        columns.AddFor(m => m.LastName);

                        columns.AddFor(m => m.Email);
                    })
                    .Editing(e => e.Mode(GridEditMode.Popup)
                        .AllowAdding(true)
                        .AllowUpdating(true)
                        .AllowDeleting(true)
                    )
                    )
            </div>
        </div>
    </div>
</div>