@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Şifre Değiştir";
    Layout = "_ManageLayout";

    ViewData["AddActivePage"] = "ChangePassword";
}

<form role="form" method="post">
    <div class="card card-custom card-stretch">
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Şifre İşlemleri</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Şifreni güncelle</span>
            </div>
            <div class="card-toolbar">
                <button type="submit" class="btn btn-success mr-2">Kaydet</button>
                <button type="reset" class="btn btn-secondary">İptal</button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <label class="col-xl-3"></label>
                <div class="col-lg-9 col-xl-6">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label" asp-for="OldPassword"></label>
                <div class="col-lg-9 col-xl-6">
                    <input asp-for="OldPassword" class="form-control form-control-lg form-control-solid">
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label" asp-for="NewPassword"></label>
                <div class="col-lg-9 col-xl-6">
                    <input asp-for="NewPassword" class="form-control form-control-lg form-control-solid">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label" asp-for="ConfirmPassword"></label>
                <div class="col-lg-9 col-xl-6">
                    <input asp-for="ConfirmPassword" class="form-control form-control-lg form-control-solid">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>