@model SetPasswordViewModel
@{
    ViewData["Title"] = "Şifre Belirleyin";
    Layout = "_ManageLayout";
}

<form role="form" method="post">
    <div class="card card-custom card-stretch">
        <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
                <h3 class="card-label font-weight-bolder text-dark">Şifre İşlemleri</h3>
                <span class="text-muted font-weight-bold font-size-sm mt-1">Şifrenizi belirleyin</span>
            </div>
            <div class="card-toolbar">
                <button type="submit" class="btn btn-success mr-2">Kaydet</button>
                <button type="reset" class="btn btn-secondary">İptal</button>
            </div>
        </div>
        <div class="card-body">
            <div class="alert alert-custom alert-light-warning fade show mb-10" role="alert">
                <div class="alert-icon">
                    <i class="flaticon-warning">
                    </i>
                </div>
                <div class="alert-text font-weight-bold">
                    Bu site için yerel bir kullanıcı adınız/şifreniz yok. <br/>
                    Harici oturum açma olmadan oturum açabilmeniz için şifre ekleyiniz.
                </div>
                <div class="alert-close">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="ki ki-close"></i>
                        </span>
                    </button>
                </div>
            </div>
            <div class="row">
                <label class="col-xl-3"></label>
                <div class="col-lg-9 col-xl-6">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label" asp-for="NewPassword"></label>
                <div class="col-lg-9 col-xl-6">
                    <input asp-for="NewPassword" class="form-control form-control-lg form-control-solid">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-xl-3 col-lg-3 col-form-label" asp-for="ConfirmPassword"></label>
                <div class="col-lg-9 col-xl-6">
                    <input asp-for="ConfirmPassword" class="form-control form-control-lg form-control-solid">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
</form>